@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Great+Vibes&family=Style+Script&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 17px;
    font-family: "Great Vibes", cursive;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    background: 
        linear-gradient(to bottom, rgba(163,17,220,0.2), rgba(163,17,220,0.1)), /* Gradiente linear */
        url("../../assets/img/borboleta.gif"), /* Primeira imagem */
        url("../../assets/img/borboleta.png"); /* Segunda imagem */
}

#container::after{
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 0.3;
}

#container-sugestoes {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    background: 
        linear-gradient(to bottom, rgba(163,17,220,0.0), rgba(163,17,220,0.0)),
        url("../../assets/img/borboleta.gif"),
        url("../../assets/img/presentes.jpeg");
    background-size: cover; /* Faz a imagem de fundo cobrir todo o espaço disponível */
    background-position: center; /* Centraliza a imagem de fundo */
}


#container-sugestoes::after{
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 0.3;
}


#card{
    max-width: 370px;
    width: 85vw;
    height: 90vh;
    min-height: 740px;
    background-color: rgba(247, 203, 158, 0.4);
    z-index: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
#topo{
    position: absolute;
    top: 0;
}
#topo img{
    width: 100%;
    filter: drop-shadow(5px 5px 3px #C11F54);
}

#logo{
    margin-top: 70px;
    font-size: 4rem;
    color: #a311dc;
    width: 90%;
    height: 38%;
    background-image: linear-gradient(90deg, rgba(255,182,193, 0.2), rgba(255,182,193, 0.5));
    border-radius: 100%;
    box-shadow: 5px 5px 10px 1px #a311dc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#luara {
    font-size: 5rem;
    color: #ffffff; /* Define a cor do texto como branco */
    text-shadow: 
        -2px -2px 0 #a311dc,  
         2px -2px 0 #a311dc,
        -2px  2px 0 #a311dc,
         2px  2px 0 #a311dc,
        -3px -3px 0 #a311dc,  
         3px -3px 0 #a311dc,
        -3px  3px 0 #a311dc,
         3px  3px 0 #a311dc; /* Adiciona sombra colorida ao redor do texto para criar bordas */
    font-style: italic; /* Adiciona estilo itálico */
}

#texto-sugestoes {
    font-size: 4rem;
    color: #ffffff; /* Define a cor do texto como branco */
    text-shadow: 
        -2px -2px 0 #a311dc,  
         2px -2px 0 #a311dc,
        -2px  2px 0 #a311dc,
         2px  2px 0 #a311dc,
        -3px -3px 0 #a311dc,  
         3px -3px 0 #a311dc,
        -3px  3px 0 #a311dc,
         3px  3px 0 #a311dc; /* Adiciona sombra colorida ao redor do texto para criar bordas */
    font-style: italic; /* Adiciona estilo itálico */
}



#midle-message{
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#midle-message div{
    display: flex;
    align-items: center;
    background-image: url();
    position: relative;
    z-index: 1000;
}
#midle-message div::after{
    content: '';
    position: absolute;
    background-color: #a311dc;
    opacity: 0.14;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#midle-message div:first-child{
    width: 100%;
    height: 60%;
    text-align: justify;
}
#midle-message div:nth-child(2){
    width: 100%;
    height: 30%;
}


#midle-message-sugestoes{
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 80px
}
#midle-message-sugestoes a {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
    margin-bottom: 10px;
    margin-right: 10px; 
}

#midle-message-sugestoes a img {
    margin-right: 20px; /* Adiciona espaço à direita da imagem */
}
#midle-message-sugestoes div{
    display: flex;
    align-items: center;
    background-image: url();
    position: relative;
    z-index: 1000;
}
#midle-message-sugestoes div::after{
    content: '';
    position: absolute;
    background-color: #a311dc;
    opacity: 0.14;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#midle-message-sugestoes div:first-child{
    width: 100%;
    height: 60%;
    text-align: justify;
}
#midle-message-sugestoes div:nth-child(2){
    width: 100%;
    height: 30%;
}



#convidado{
    color: #a311dc;
    font-weight: bolder;
}
#data{
    display: flex;
    justify-content: center;
    
}
#data p{
    color: #ffffff;
    filter: drop-shadow(3px 3px 2px rgb(131, 51, 151));
    font-size: 1.9rem;
    font-weight: 800;
    line-height: 1.8rem;
}
#data #luara-2{
    font-size: 2.5rem;
    padding: 0 10px;
    border-right: 2px solid #F04D1D;
}

#text{
    font-size: 1.3rem;
    color: #a311dc;
    font-family: "Style Script", cursive;
    font-weight: bold;
    text-shadow: 
    -1px -1px 0 #ffffff,  
     1px -1px 0 #ffffff,
    -1px  1px 0 #ffffff,
     1px  1px 0 #ffffff
    

    /*border-bottom: 1px solid #299DAF;*/
    
}
.text-sugestoes-presentes{
    font-size: 2.0rem;
    color: #ffffff;
    font-family: "Style Script", cursive;
    font-weight: bold;
    text-shadow: 
    -1px -1px 0 #a311dc,  
    1px -1px 0 #a311dc; 
}

#text-sugestoes{
    font-size: 2.5rem;
    color: #a311dc;
    /*border-bottom: 1px solid #299DAF;*/ 
}
#convite{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 25%;
    color: #F04D1D;
}
#convite p:nth-child(3){
    text-align: center;
}
#bonequinho{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
#bonequinho img{
    height: 100%;
}

#botoes {
    display: flex;
    justify-content: space-around;
    margin-top: 40px; /* Adiciona espaçamento superior para evitar sobreposição */
    z-index: 1;
}

#sugestao, #confirmar-presenca, #localizacao {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #a311dc; /* Cor de fundo */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#sugestao{
    margin-right: 10px; /* Adiciona margem à direita */
}

#confirmar-presenca {
    margin-right: 10px; /* Adiciona margem à esquerda */
}

#localizacao {
    margin-right: 10px; /* Adiciona margem à esquerda */
}
#sugestao:hover, #confirmar-presenca:hover {
    background-color: #540c71; /* Cor de fundo ao passar o mouse */
}

#sugestoes-presentes {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #a311dc; /* Cor de fundo */
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

#sugestoes-presentes{
    margin-right: 10px; /* Adiciona margem à direita */
}

#botoes2 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    z-index: 1;
}

#botoes2 button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: default;
    width: 100px; /* Defina o tamanho desejado para os botões */
    margin: 0 5px; /* Adiciona espaçamento entre os botões */
}

.span-botao2 {
    font-size: 18px; /* Defina o tamanho da fonte desejado aqui */
}

#interacao {
    font-size: 1.5rem;
    color: #a311dc;
    font-family: "Style Script", cursive;
    font-weight: bold;
    text-shadow: 
        -1px -1px 0 #ffffff,  
         1px -1px 0 #ffffff,
        -1px  1px 0 #ffffff,
         1px  1px 0 #ffffff;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}



#data {
    background-color: #e67ad9; /* Cor de fundo para data */
    color: white;
    text-shadow: 
    -1px -1px 0 #a311dc,  
     1px -1px 0 #a311dc,
    -1px  1px 0 #a311dc,
     1px  1px 0 #a311dc

}

#hora {
    background-color: #6bc4c0; /* Cor de fundo para hora */
    color: white;
}

#local {
    background-color: #f0cd6b; /* Cor de fundo para local */
    color: white;
    text-align: center; /* Centraliza o texto */
    display: flex; /* Para centralizar verticalmente */
    justify-content: center; /* Para centralizar horizontalmente */
    align-items: center; /* Para centralizar verticalmente */
}


#local:hover{
    background-color: #ae8d30; /* Cor de fundo ao passar o mouse */
}

.botao-wrapper {
    text-align: center; /* Centraliza o conteúdo horizontalmente */
}

.botao-wrapper span {
    display: block; /* Para que cada nome de botão ocupe uma linha inteira */
    margin-bottom: 5px; /* Adiciona um espaço entre o nome e o botão */
    font-weight: bold; /* Opcional: deixa o nome do botão em negrito */
    color: #A311DC;
}

#gif-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Evita que o GIF saia da seção */
}
#gif-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que o GIF cubra todo o container */
}

